# ===========================
# Base de datos 
# ===========================
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_DB=

DB_HOST=
DB_PORT=
DB_USER=
DB_PASSWORD=

PRODUCTOS_DB_NAME=
PEDIDOS_DB_NAME=

# ===========================
# Redis
# ===========================
REDIS_HOST=
REDIS_PORT=
REDIS_EXTERNAL_PORT=

# ===========================
# RabbitMQ
# ===========================
RABBITMQ_PORT=
RABBITMQ_MANAGEMENT_PORT=
RABBITMQ_URL=

# ===========================
# Gateway
# ===========================
GATEWAY_PORT=

# ===========================
# Pedidos
# ===========================
PEDIDOS_PORT=
PEDIDOS_EXTERNAL_PORT=
SVC_PEDIDOS_HOST=

# ===========================
# Productos
# ===========================
PRODUCTOS_PORT=
PRODUCTOS_GRPC_PORT=
SVC_PRODUCTOS_HOST=
GRPC_PRODUCTOS_URL=

UMBRAL_STOCK_BAJO=
PRODUCTOS_LATENCIA_MS=

# ===========================
# Notificaciones
# ===========================
NOTIFICACIONES_LATENCIA_MS=